*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #333;
}
.load{
    display: flex;
    justify-content: center;
    margin: 300px auto;
}

.load div{
    background-color: rgb(130, 249, 87);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin: 0 5px;
    animation-name: up-and-down;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.two{
    animation-delay: 0.3s;
}

.three{
    animation-delay: 0.6s;
}

@keyframes up-and-down {
    to{
        opacity: 0.2;
        transform: translateY(-20px);
    }
}